body{
    margin:0;
    height:100vh;
    display:flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content:center;
    align-items:center;
    background:#f4f4f4;
    color:#222;
    transition:0.3s;
}

.container{
    text-align:center;
}

button{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
    background:#222;
    color:white;
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
}

.dark {
    background:#222;
    color:#f4f4f4;
}

.dark button{
    background:#f4f4f4;
    color:#222;
}